$textcolor1: hsl(320, 100%, 17%);
$textcolor1alt: hsl(60, 100%, 17%);

$color1: hsl(320, 100%, 77%);
$color2: hsl(320, 100%, 83%);
$color3: hsl(320, 100%, 87%);
$color4: hsl(320, 100%, 93%);
$color5: hsl(320, 100%, 97%);

$color1-tr: hsla(320, 100%, 77%, 0.8);
$color2-tr: hsla(320, 100%, 83%, 0.6);
$color3-tr: hsla(320, 100%, 87%, 0.4);
$color4-tr: hsla(320, 100%, 93%, 0.2);
$color5-tr: hsla(320, 100%, 97%, 0.1);

$color1alt: hsl(60, 100%, 77%);
$color2alt: hsl(60, 100%, 83%);
$color3alt: hsl(60, 100%, 87%);
$color4alt: hsl(60, 100%, 93%);
$color5alt: hsl(60, 100%, 97%);

$color1alt-tr: hsla(60, 100%, 77%, 0.8);
$color2alt-tr: hsla(60, 100%, 83%, 0.6);
$color3alt-tr: hsla(60, 100%, 87%, 0.4);
$color4alt-tr: hsla(60, 100%, 93%, 0.2);
$color5alt-tr: hsla(60, 100%, 97%, 0.1);
