$color1: hsl(320, 100%, 77%);
$color2: hsl(320, 100%, 83%);
$color3: hsl(320, 100%, 87%);
$color3-tr: hsla(320, 100%, 87%, 0.4);
$color4: hsl(320, 100%, 93%);
$color5: hsl(320, 100%, 97%);
$color1alt: hsl(60, 100%, 77%);
$color2alt: hsl(60, 100%, 83%);
$color3alt: hsl(60, 100%, 87%);
$color3alt-tr: hsla(60, 100%, 87%, 0.4);
$color4alt: hsl(60, 100%, 93%);
$color5alt: hsl(60, 100%, 97%);
$game-scaling: 0.75;
$chat-scaling: 0.60;

body {
    background-image: url(../img/74078288_p0.png);
    background-size: cover;
    background-position: top;
    font-family: FreeSerif;
    color: black;
    display: flex;
}

.game {
    margin: 10px;
    height: 1080px * $game-scaling;
    width: 1920px * $game-scaling;
    background-color: $color3-tr;
    border: 6px solid; 
    border-color: $color1alt $color1 $color1 $color1alt;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat {
    margin: 10px;
    width: auto;
    height: 1080px * $chat-scaling;
    background-color: $color3alt-tr;
    border: 6px solid; 
    border-color: $color1alt $color1 $color1 $color1alt;
    border-radius: 3px;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
